.imageadjust{
    width:100%;
    height:600px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-blend-mode: darken;
    margin-bottom: 20px;

    
}